
//  ******** ОСНОВНОЕ ОКНО С ВИДЖЕТАМИ ********

.widgets {
    width: 70%;
    padding: 10px;
}

.widget {
    display: flex;
    background-color: rgba(#092F7E,.4);
    width: 400px;
    height: 100px;

    border-radius: 16px;

}

.widget__grab {
    cursor: grab;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: #ccc;
        margin: 0 10px;
    }
}

.widget__grab__icon {
    font-size: 20px;
}

.widget__main {
    flex:1;
    padding: 10px 20px 10px 10px;

}

.widget__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget__tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.widget__title {
    font-size: 18px;
    font-weight: 600;
}

//  ******** ЗАКРЕПЛЕННЫЕ ВИДЖЕТЫ ********

.widgets__tag {
    width: 15%;
    border-left: 1px solid var(--border-color);
}


